/* Button Style */
h1 {
  font-size: 92px;
  font-style: unset;
  color: #854b4b;
  text-transform: uppercase;
}

input[type='checkbox'] {
  position: relative;
  width: 80px;
  height: 30px;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: 0.4s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input:checked[type='checkbox'] {
  background: green;
}

input[type='checkbox']::before {
  z-index: 2;
  position: absolute;
  content: '';
  left: 0;
  width: 30px;
  height: 30px;
  background: #8e9aa0;
  border-radius: 50%;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

input:checked[type='checkbox']::before {
  left: 50px;
  background: #29e732;
}

.toggle {
  position: relative;
  display: inline;
}

label {
  position: absolute;
  color: rgb(231, 10, 10);
  font-weight: 600;
  pointer-events: none;
}

.onbtn {
  bottom: 0px;
  left: 11px;
}
.ofbtn {
  bottom: 0px;
  right: 8px;
  color: #34a7e0;
}
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400&display=swap');
* {
  box-sizing: border-box;
}

body {
  padding: 40px 0;
  font-family: 'Advent Pro', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #222;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #2b2b2b;
}
@media screen and (max-width: 580px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 40px 15px 0;
  max-width: 1170px;
  background-color: #ccccc7;
  text-align: center;
}

.table {
  display: inline-table;
  margin: 0 0 40px 0;
  width: 109%;
  white-space: wrap;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
    width: 100%;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #777;
}
.row.green {
  background: #444;
}
.row.blue {
  background: #222;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    padding: 0;
    height: 6px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell {
    margin-bottom: 10px;
  }
  .row .cell:before {
    content: attr(data-title);
    display: block;
    margin-bottom: 3px;
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
.cell[data-title='Услуга'] {
  text-align: left;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
  .cell[data-title='Услуга'] {
    text-align: center;
  }
}
