.container {
  max-width: 700px;
  margin: auto;
  padding: 2rem;

  h1 {
    font-weight: normal;
  }
}

ol {
  counter-reset: li; /* Initiate a counter */
  list-style: none; /* Remove default numbering */
  font: 15px Arial, Helvetica, sans-serif;
  line-height: 1.5;
  padding: 0;
  margin-bottom: 4rem;
  // text-shadow: 0 1px 0 rgba(255,255,255,.5);

  ol {
    margin: 0 0 0 2rem; /* Add some left margin for inner lists */
  }
}

li {
  span {
    position: relative;
    display: block;
    padding: 0.4rem 0.4rem 0.4rem 0.8rem;
    margin: 0.5rem 0 0.5rem 2.5rem;
    background-color: #f1f1f1;
    color: #444;
    text-decoration: none;
    transition: all 0.3s ease-out;

    &::before {
      content: counters(li, '.');
      counter-increment: li;
      position: absolute;
      left: -2.5rem;
      top: 50%;
      margin-top: -1rem;
      background: #8c7ae6;
      color: white;
      // height: 2rem;
      width: 2rem;
      line-height: 2rem;
      text-align: center;
      // font-weight: bold;
    }
  }

  li {
    span {
      &::before {
        left: -3rem;
        width: 2.5rem;
      }
    }

    li {
      span {
        &::before {
          left: -3.5rem;
          width: 3rem;
        }
      }
    }
  }
}
