<div class="container">
  <h2 class="text-center">Employee Details</h2>
  <br />
  <div *ngIf="employee" text-align="center">
    <div>
      <label id="id" name="id" class="font-weight-bold">ID:</label
      >&nbsp;&nbsp;&nbsp;{{ employees.id }}
    </div>

    <div>
      <label id="name" name="name" class="font-weight-bold">Name:</label
      >&nbsp;&nbsp;&nbsp;{{ employees.name }}
    </div>

    <div>
      <label id="location" name="location" class="font-weight-bold"
        >Location:</label
      >&nbsp;&nbsp;{{ employees.location }}
    </div>

    <div>
      <label id="email" name="email" class="font-weight-bold">Email:</label
      >&nbsp;&nbsp;&nbsp;{{ employees.email }}
    </div>

    <div>
      <label id="mobile" name="mobile" class="font-weight-bold">Mobile:</label
      >&nbsp;&nbsp;{{ employees.mobile }}
    </div>
    <br />
    <div>
      <label
        id="department_code"
        name="department_code"
        class="font-weight-bold"
        >Department Code</label
      >&nbsp;&nbsp;{{ employee.dept_code }}
    </div>
    <br />
    <div>
      <label id="department" name="department" class="font-weight-bold"
        >Department:</label
      >&nbsp;&nbsp;{{ employee.dept }}
    </div>
    <br />
    <div>
      <label id="salary" name="salary" class="font-weight-bold">Salary:</label
      >&nbsp;&nbsp;{{ employee.salary }}
    </div>
    <br />
    <div>
      <label id="work" name="work" class="font-weight-bold">Work:</label
      >&nbsp;&nbsp;{{ employee.work }}
    </div>
    <br />
    <a routerLink="/employees"><button class="btn btn-info">Back</button></a>
  </div>

  <div *ngIf="!employee" class="text-center text-danger">
    Employee not found! Please go back and select employee
    <br />
    <a routerLink="/employees"><button class="btn btn-info">Back</button></a>
  </div>
</div>
