.flex-styling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  background-color: #a01a58;
  font-family: helvetica;
}

.white-font {
  color: white;
}

table,
td,
th {
  border: none;
  text-align: left;
}

th {
  background-color: #fae0e4;
  font-size: 14px;
}

td {
  font-size: 13px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-styling {
  margin-top: 2%;
  background-color: white;
  color: #333533;

  box-shadow: 0 8px 8px 0 rgba(0, 0, 0.3, 0.3);
  transition: 0.3s;
}

.card-styling:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0.5, 0.5);
}

.export-button {
  border: none;
  background-color: #bde0fe;
  color: black;
  font-size: 10px;
  padding: 8px;
  margin-right: 4px;
  border-radius: 4px;
}

.delete-button {
  border: none;
  background-color: #a01a58;
  color: white;
  font-size: 10px;
  padding: 8px;
  margin-right: 4px;
  border-radius: 4px;
}
